<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!--配置常量管理-->
	<import resource="classpath:xml/spring-property.xml"/>

	<!--spring-mvc 配置-->
	<import resource="classpath:xml/spring-mvc.xml"/>

	<!--数据库配置  采用一种方式就可以（先采用druid方式）-->
	<!--druid方式配置数据库-->
	<import resource="classpath:xml/spring-druid.xml"/>

	<!--c3p0方式配置数据库-->
	<!--<import resource="classpath:xml/spring-c3p0.xml"/>-->
	<context:component-scan base-package="com.wyl" use-default-filters="false">
		<context:include-filter type="regex" expression="..*.service.impl.*" />
	</context:component-scan>
</beans>